<app-main-nav>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="btn-group btn-group-lg"  role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" routerLink="/withdraw">Withdraw</button>
        <button type="button" class="btn btn-secondary" routerLink="/certify">Certify</button>
        <button type="button" class="btn btn-secondary">Support</button>
     </div>
    </div>
  </div>
</app-main-nav>
<router-outlet></router-outlet>
