<table mat-table matSort
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
 
  
  <ng-container matColumnDef="User">
    <th mat-header-cell *matHeaderCellDef> User</th>
    <td mat-cell *matCellDef="let element"> {{element.content.first_name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.updated_date}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">  
      <button class="btn" (click)="openDialog('pending')" [disabled]=isPending>Pending</button>
      <button class="btn" (click)="openDialog('completed')" [disabled]=isCompleted>Completed</button>
      <button class="btn" (click)="openDialog('revert')" [disabled]=isRevert>Revert Back</button>
       </td>
  </ng-container>
  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <mat-card> 
            <div class="row">
              <div class="col-md-4">
                {{element.icon_url}}
              </div>
              <div class="col-md-4">
                {{element.content.first_name}}
              <div>address: {{element.content.address.line1}}
                  {{element.content.address.city}}   
                  {{element.content.address.state}}
                  {{element.content.address.country}}
                  {{element.content.address.zip}} 
              </div>
              <div>
                Wallet:{{element.content.wallet.outstanding}} 
               Rating: {{element.content.no_of_ratings}}
              </div>
              </div>
              <div class="col-md-4">
                {{element.content.email_id}}
                {{element.mobile}}
               <div>
                 Verified User: {{element.has_verified_caller_id}}
               </div>
              </div>
               
            </div>
          </mat-card>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = element;toggleRow(element);">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

 